@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

:root {
    --max-width: 500px;
}

body {
    background-color: var(--bg-color);

    height: 100dvh;

    color: var(--font-color);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: normal;

    overflow-x: hidden;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

strong {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-size: 24px;
    line-height: 24px;
}

a {
    color: var(--accent-color);
    text-underline-offset: 2px;
    text-decoration-style: dashed;
    text-decoration-skip: all;
}

a:hover{
    color: var(--link-hover);
}

p {
    margin-block-start: 4px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 450;
}

img {
    width: 100%;
    height: auto;
}

ul {
    margin-block-start: 8px;
    margin-block-end: 8px;
    padding-inline-start: 24px;
}

li {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

li:not(:last-child) {
    margin-bottom: 4px;
}

.numbers {
    list-style: decimal;
}

.bullets {
    list-style: disc;
}

.material {
    background-color: var(--form-color);
    border-radius: 20px;
    padding: 16px;
    border: 1px solid var(--secondary-color);
    margin-block: 12px;
}

.material-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 4px;
}

.material-tag {
    display: inline-block;
    background: var(--bg-color);
    color: var(--accent-color);
    padding: 2px 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 8px;
}

.material-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.material-desc {
    font-size: 16px;
    font-weight: 450;
    line-height: 18px;
}

.feedback {
    background-color: var(--form-color);;
    border-radius: 16px;
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 450;
    border: 1px solid var(--secondary-color);
    margin-block: 16px;
}

.section {
    margin-bottom: 32px;
}

.section-title {
    padding-left: 16px;
    color: var(--accent-color);
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 700;
}

.accordion {
    background-color: var(--form-color);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--secondary-color);
    
}

.accordion-item {
    position: relative;
}

.accordion-item:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: var(--secondary-color);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 650;
    color: var(--font-color);
    gap: 8px; 
}

.accordion-title {
    flex: 1;
}

.accordion-icon {
    width: 24px;
    height: 24px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.accordion-icon::before,
.accordion-icon::after {
    content: '';
    position: absolute;
    background-color: var(--font-color);
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
}

.accordion-icon::before {
    width: 1px;
    height: 16px;
    top: 3.5px;
    left: 11.5px;
}

.accordion-icon::after {
    width: 16px;
    height: 1px;
    top: 11px;
    left: 4px;
}

.accordion-item.active .accordion-icon::before {
    transform: rotate(90deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    padding: 0 16px;
}

.accordion-content-inner {
    padding: 0 0 20px;
    color: var(--font-color);
    line-height: 19px;
    font-size: 15px;
    font-weight: 450;
}

.parent {
    justify-content: center; 
    
    flex-direction: column;
    display: flex;
    
    box-sizing: border-box;
    
    
    align-items: center;
    overflow-x: hidden;
    height: 100%;
}

.centered-section {
    align-items: center;
    justify-content: center;
    margin-block-start: clamp(16px, 3.5vw, 32px);
    margin-block-end: clamp(0px, 1.5vw, 16px);
    display: flex;
}

.carousel-container {
    font-size: clamp(18px, 4.5vw, 32px); 
    display: inline-flex;
    align-items: center;
    height: 30px;
    overflow: visible;
}

.carousel {
    position: relative;
    width: clamp(100px, 15vw, 150px);
    height: 30px;
    direction: rtl;
}

.carousel-item {
    font-weight: 700;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.carousel-item.active {
    color: var(--font-color);
    opacity: 1;
    transform: translateY(0);
}

.carousel-item.next {
    color: var(--bg-color);
    opacity: 0;
    transform: translateY(36px);
}

.carousel-item.prev {
    color: var(--bg-color);
    opacity: 0;
    transform: translateY(-36px);
}

.embla__viewport {
    position: relative;
}


.embla__viewport::-webkit-scrollbar { display: none; }
.embla__viewport { -ms-overflow-style: none; scrollbar-width: none; }

.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.card-wrapper::-webkit-scrollbar { display: none;  }


.card-wrapper {
    padding: 24px;
    display: flex;
    justify-content: flex-start;

    
    overflow-x: visible;
    scroll-behavior: auto;
    -webkit-overflow-scrolling: auto;
    
    scrollbar-width: none;
    
    -ms-overflow-style: none;
    
    cursor: grab;
}

.card-wrapper.active {
    cursor: grabbing;
}

.card {
    flex: 0 0 264px;
    
    background: var(--form-color);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    height: 264px;
    
    margin-right: 24px;
    text-align: left;
    position: relative;
}

.card .circle {
    background: var(--accent-color);
    color: var(--font-contrast-color);
    font-weight: 600;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    position: absolute;
    top: -16px;
    left: 24px;
}

.card h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: var(--accent-color);
    
    
}

.desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 4px;
    color: var(--font-color);
}

.special {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin: 2px 0 6px;
    color: var(--accent-color);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 6px 0;
}

.tags-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 7px;
    margin-bottom: 5px;
}

.tag-link {
    color: var(--accent-color);
    display: inline-flex;
    align-items: center;
    
    
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    
    
}

.tag {
    background: var(--bg-color);
    color: var(--accent-color);
    padding: 0px 8px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
}

.info {
    background: var(--info-color);
    color: var(--accent-color);
    padding: 12px 16px;
    font-size: 15px;
    line-height: 16px;
    border-radius: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

.testimonial {
    position: relative;
    background-color: var(--bg-color);
    border-radius: 12px;
    padding: 14px;
    font-size: 15px;
    line-height: 15px;
    color: var(--accent-color);
}

.user {
    align-items: center;
    font-weight: 600;

    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 8px;
}

.user img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 6px;
}

.btn {
    position: absolute;
    right: 12px;
    bottom: 12px;

    display: inline-flex;
    align-items: center;

    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 12px;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.025);
}




.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
}


.popup-content {
    width: 100%;
    
    position: relative;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.3, 0, 0.2, 1);
    overflow-y: auto;
    scrollbar-width: thin;
}

.popup-content.show {
    transform: translateY(0);
}


.popup-overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup-header-panel-parent {
    position: sticky;
    top: 24px;
    margin-top: -78px;
    
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    
    z-index: 1010;
}

.popup-header-panel {
    font-size: 18px;
    width: 100%;
    max-width: var(--max-width);
    border-radius: 20px;
    text-align: center;
    pointer-events: auto;
    margin: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--form-color);
    padding: 10px 20px;
    z-index: 1020;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.popup-header-panel:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}


.popup-header-title {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--accent-color);
    z-index: 1030;
}


.close-popup-icon {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.close-popup-icon::before,
.close-popup-icon::after {
    content: '';
    position: absolute;
    border-radius: 2px;
    width: 18px;
    height: 1.5px;
    background-color: var(--accent-color);
    top: 50%;
    left: 50%;
}

.close-popup-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-popup-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.cont {
    padding-inline: 24px;
    padding-top: 24px;
    
    padding-bottom: 90px;
    max-width: var(--max-width);
    margin: auto;
}

.blur-overlay {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    
    overflow: hidden;
    pointer-events: none;
    z-index: 150;
}


.blur-layer {
    position: absolute;
    inset: 0;
    border-radius: 0;
    pointer-events: none;
    backdrop-filter: blur(20px);
    mask-image: linear-gradient(to top, transparent 0%, black 50%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 50%);
    z-index: 160;
}

.icon {
    will-change: transform;
    color: var(--accent-color);
    fill: currentColor;
}

.small {
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

.big {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.embla__controls {
    display: none;
    
    padding-inline: 20px;
    margin-top: -20px;
    justify-content: flex-end;
  }

  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }

  .unselectable{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .embla__button {
    opacity: 1;
    cursor: pointer;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out, transform 0.1s ease;

    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
  }

  .is-disabled {
    opacity: 0.2;
  }

  .embla__button:active:not(.is-disabled) {
    transform: scale(0.9);
  }

  .embla__button__svg {
    width: 35%;
    height: 35%;
  }



@media screen and (max-width: 992px) {

    .embla__controls{
        display: flex;
    }

    .wrapper{
        margin: 0 auto;
        margin-top: 32px;
    }

    .blur-overlay {
        height: 94px;
    }

    .popup-header-panel-parent{
        top: 16px;
        
    }

    .popup-header-panel {
        margin: 0 16px;
    }

}

@media screen and (min-width: 992px) {

    .testimonial {
        font-size: 14px;
        line-height: 14px;
    }

    .tag {
        line-height: 22px;
    }

    .wrapper {
        margin-top: 32px;
        display: flex;
        justify-content: center;
    }

    .card-wrapper {
        cursor: default;
        display: grid;
        grid-template-columns: repeat(3, 304px);
        grid-template-rows: repeat(2, auto);
        grid-gap: 32px 24px;
        overflow-x: visible;
        width: auto;
        max-width: 810px;
        
        margin: 0;
        padding: 0px;
        justify-content: center;
    }

    .card {
        padding: 24px 20px;
        margin-right: 0;
        
        height: auto;
        padding-bottom: 48px;
    }
}


@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #EAF1F4;
        --font-color: #000000;
        --font-contrast-color: #ffffff;
        --form-color: #fff;
        --info-color: #dae0f0;
        --accent-color: #3628b3; 
        --secondary-light-color: rgb(240, 240, 240);
        --secondary-color: rgb(230, 230, 230);;
        --link-hover: #d04000;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #0f1116;
        --font-color: #dcdcdc;
        --font-contrast-color: #fff;
        --form-color: #191920;
        --info-color: #1a1d29;
        --accent-color: #4e71c5; 
        --secondary-light-color: rgb(16 16 16);
        --secondary-color: rgb(32, 37, 41);
        --link-hover: #d04000;

    }

    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .popup-header-panel {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    }

    .popup-header-panel:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    }

}




.toggler {
    position: relative;
    display: flex;
    background: var(--form-color);
    border: 1px solid var(--secondary-color);
    border-radius: 16px;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
}


.toggler.horizontal {
    height: clamp(52px, 10vw, 58px);
}


.toggler.vertical {
    flex-direction: column;
    padding: 8px 16px;
}


.toggler-slider {
    position: absolute;
    background: var(--accent-color);
    border-radius: 12px;
    transition: transform 0.3s ease;
    z-index: 0;
}


.toggler.horizontal .toggler-slider {
    top: 8px;
    bottom: 8px;
    width: calc(50% - 8px);
    height: auto;
}


.toggler.vertical .toggler-slider {
    left: 8px;
    right: 8px;
    height: calc(50% - 8px);
    width: auto;
}


.toggler-option {
    flex: 1;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--accent-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 450;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggler.vertical .toggler-option{
    justify-content: left;
    display: block;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 16px;
    padding: clamp(8px, 2vw, 16px) clamp(0px, 1vw, 6px);
}

.toggler.horizontal .toggler-option {
    justify-content: center;
    font-size: clamp(13px, 2vw, 17px);
    line-height: 16px;
    padding: 0px;
}

.toggler.vertical .toggler-option h3 {
    margin: 0 2px 8px 0;
}

  .opt-sect {
    padding-left: 12px;
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 700;
  }

  .opt-desc {
    padding-left: 12px;
    color: var(--font-color);
    font-size: clamp(15px, 2.5vw, 18px);
    font-weight: 450;
    line-height: clamp(18px, 3vw, 22px);
    margin-bottom: clamp(4px, 1vw, 10px);
  }

.toggler-option.selected {
    color: var(--font-contrast-color);
}

.selected-tier {
    fill: currentColor; 
    margin: 0px 0px 3px 4px;
    opacity: 0;
    transition: opacity ease-in-out 0.1s;
}

.selected .selected-tier{
    opacity: 1;
}

.not-visible {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}



.floating-button-container {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2000; 
    padding: 0 16px; 
  }

  .floating-button {
    border-radius: 20px;
    font-size: 16px;
    padding: 8px;

    height: 64px;
    max-width: calc( var(--max-width) + 40px ); 
    width: 100%;
    border: none;
    font-weight: 450;
    cursor: pointer;
    font-family: inherit;
    
    

    background: linear-gradient(to bottom, #493DB4, #281d89, #281d89, #2516a8);
    background-size: 100% 250%;

    box-shadow: 0 3px 12px 1px rgba(29, 29, 119, 0.4);
    color: var(--font-contrast-color);

    transition: all 0.3s ease-in-out;
  }

  .floating-button:hover {
    background-position: 0% 15%;
    box-shadow: 0 2px 6px 0px rgba(29, 29, 119, 0.3);
    }

    .floating-button:active {
        transform: scale(0.95);
    }

  .button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 1;
    transform: translateY(8px);

    transition: all 0.3s ease;
}

.new-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    opacity: 0;
    transform: translateY(0px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.floating-button.clicked {
    margin-bottom: 20px;
}

.offer-text.visible {
    bottom: -15px;
    opacity: 0.5;
}

.floating-button.clicked .button-content {
    transform: translateY(-20px);
    opacity: 0;
}

.floating-button.clicked .new-content {
    transform: translateY(-20px);
    opacity: 1;
}

.offer-text {
    position: absolute;
    height: 32px;
    bottom: -48px;

    color: var(--font-color);
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s ease;
    text-align: center;
    max-width: var(--max-width);
    pointer-events: auto;
}

.payment-margin {
    margin-top: clamp(12px, 3vw, 24px);
}



.email-form {
    height: clamp(34px, 7vw, 40px);
    position: relative;
    display: flex;
    background: var(--form-color);
    border: 1px solid var(--secondary-color);
    border-radius: 16px;
    padding: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email-form-inner{
    padding: 0px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;

    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 14px;
    border: 1px solid var(--secondary-color);
    
    background: var(--secondary-light-color);
    color: var(--font-color);
    align-items: center;
    display: flex;
}

input::placeholder {
    color: var(--font-color);
    opacity: 0.5; 
  }

.email-form-inner:focus-visible {
    outline: 2px solid var(--accent-color);
}

.hidden {
    display: none;
}